/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property
 */

.scroll-pane
{
	-fx-background: #3c3c3c;
	-fx-background-color: #3c3c3c;
	-fx-border-color: #3c3c3c;
}

.scroll-bar:horizontal, .scroll-bar:vertical
{
    -fx-background-color:#3c3c3c;
}

.increment-button, .decrement-button 
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #828282;
    -fx-background-radius: 5em;
}